{% extends "base.html" %}
{% block body %}
	<h2>Events for {{ date }}</h2>
	{% for card in cards["lunch"] %}
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{ card.name }}</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			{{ card.food }}<br>
			{{ card.location }}<br>
			{{ card.start }} - {{ card.end }}
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ card.url }}" target="_blank">
			  View event details
			</a>
		  </div>
		</div>
	{% endfor %}
{% endblock %}